/*
	Eric Dong
	CS 351 Team Project
	Partner: Julie(Ichen) Ko
*/


#creators {
	background-color: #FFDDFF;
	color: #610B0B;
	text-align: center;
}

#bginfo {
	background-color: #FFDDFF;
	color: #610B0B;
	text-align: center;
}